.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.selector {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    overflow: hidden;
    border: 1px solid dimgray;
    box-shadow: 0 0 2em #DDD;
    border-radius: 1em;
}

.selector input {
    border: none;
    width: 100% !important;
    border-bottom: 1px solid dimgray;
    outline: none;
    width: 30%;
    padding: 1em;
}

.cancel,
.back {
  position: absolute;
  width: 10em;
  padding: 1em 0;
  background: #22e684;
  border: none !important;
  margin: 1em;
  font-weight: bold;
  border-radius: 0.5em;
  font-size: 11pt;
  color: white;
  transition: all 0.25s;
  outline: none;
}

.back:hover {
    background: var(--primary-hover);
}

.cancel {
    position: relative;
    width: 100%;
    background: var(--urgent);
}

.cancel:hover {
    background: var(--urgent-hover);
}

.waitcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
    border-radius: 1em;
    color: white;
    box-shadow: 0 0 1em #777;
    background: var(--back);
}

.waitcontainer p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.counter {
    position: absolute;
    top: 1em;
}