.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d7d7d7' fill-opacity='0.5'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.emblem {
    text-align: center;
    font-size: 100pt;
    animation: in 2s normal cubic-bezier(0.165, 0.84, 0.44, 1), 
        search 10s infinite 2s cubic-bezier(0.77, 0, 0.175, 1);
}

.back {
    position: absolute;
    width: 10em;
    padding: 1em 0;
    background: #22e684;
    border: none !important;
    margin: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    font-size: 11pt;
    color: white;
    transition: all 0.25s;
    outline: none;
  }
  
  .back:hover {
      background: var(--primary-hover);
  }

@keyframes in {
    0%, 10% { 
        transform: translate(300%, 300%) rotate(40deg);
        opacity: 0;
    }
    10% {
        opacity: 100%;
    }

    100% {
        transform: none;
    }
}

@keyframes search {
    0% {
        transform: none;
    }    
    25% {
        transform: translate(5rem, -3rem) rotate(-10deg);
        scale: 1.0
    }
    50% {
        transform: translate(-5rem, 2rem) rotate(10deg);
    }
    50%, 75% { 
        scale: 0.8;
    }
    70% {
        transform: translate(7rem, 6rem) rotate(-60deg);
    }
    30%, 95% {
        text-shadow: none;
    }
    45%, 80% {
        text-shadow: 0 2rem 2rem #777;
    }
}