.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 7em auto;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d7d7d7' fill-opacity='0.5'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.header {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 5em;
    height: 5em;
    margin: 0 1em;
}

.info {
    width: 30%;
    display: flex;
    align-items: center;
    background: var(--back);
    color: white;
}

.userdata {
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    width: 70%;
    margin: 1em 0;
}

.userdata * {
    margin: 0.5rem;
}

.player {
    border-bottom-right-radius: 1em;
}

.opponent {
    flex-direction: row-reverse;
    text-align: right;
    border-bottom-left-radius: 1em;
}

.opponent > div > div {
    flex-direction: row-reverse;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.timer * {
    margin: 0 1rem;
}

.timer h2 {
    color: #444;
}

.question {
    display: flex;
    flex-direction: column;
    user-select: none;
    align-items: center;
}

.question h1 {
    font-size: 30pt;
    margin-bottom: 2em;
}

.questioncontainer {
    display: flex;
}

.panel {
    text-align: center;
}

.choice {
    background: #ddd;
    height: 15rem;
    width: 15rem;
    display: flex;
    margin: 0 0.5em;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
    cursor: pointer;
    font-size: x-large;
    border: 0.25rem solid;
    text-align: center;
}

.choice:hover {
    background: #BBB;
}

.results {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    background: var(--back);
    min-width: 25%;
    width: fit-content;
    left: 50%;
    top: 50%;
    padding: 1em;
    border-radius: 1em;
    transform: translate(-50%, -50%);
    outline: none;
}

.results button {
    padding: 1em 0;
    background: var(--primary);
    border: none !important;
    font-weight: bold;
    border-radius: 0.5em;
    font-size: 11pt;
    color: white;
    transition: all 0.25s;
    outline: none;
    cursor: pointer;
}

.results button:hover {
    background: var(--primary-hover);
}

.scoreinfo {
    display: flex;
    justify-content: space-between;
}

.scoreinfo * {
    margin: 0;
}