:root {
  --back: #373c3d;
  --back-hover: #535657;
  --primary: #22e684;
  --primary-dark: #34b977;
  --primary-hover: #48d890;
  --urgent: #f84747;
  --urgent-hover: #f75656;
  --error: #f84747;
  --modalback: #18191aea;
}

html,
body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #cacaca;
}

* {
  scrollbar-width: thin;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container a {
  padding: 1em;
  margin: 0.5em;
  background-color: gray;
  color: white;
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Rubik;
  src: url("../public/Rubik-VariableFont_wght.ttf");
}