.body {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.body:nth-child(n + 1):nth-child(n + 2) > div {
  border-right: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  overflow: hidden;
}

.avatar {
  width: 15em;
  height: 15em;
  border: 2px solid #ddd;
  box-sizing: content-box;
  margin: 2em;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #ddd;
  overflow: hidden;
  padding: 0 1em;
}

.user h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 0.25em;
}

.user hr {
  border: 2px solid black;
  width: 100%;
  margin: 0 1em 1em 1em;
}

.updates {
  width: 50vw;
  overflow-y: auto !important;
  border-right: 2px solid #ddd;
  padding: 1em;
}

.updates h2 {
  color: gray;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
}

.play {
  color: white;
  width: 90%;
  padding: 2em;
  background: var(--back);
  border-radius: 1em;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  overflow: hidden;
}

.buttons a {
  padding: 2em 1em;
  width: 10em;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 12pt;
  text-shadow: 0 0 2px dimgray;
  transition: all 0.1s;
  text-align: center;
}

.buttons a:hover {
  filter: brightness(1.1);
}

.buttons a:first-child {
  background: var(--primary);
}

.buttons a:last-child {
  background: var(--urgent);
}
