.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary);
    color: white;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 10px lightgray;
}

.container ol {
    padding: 0;
    width: 100%;
    margin: 0;
}

.head {
    display: flex;
    align-items: center;
    line-height: 0rem;
    width: 100%;
    padding: 2em;
    user-select: none;
    justify-content: space-between;
    transition: all 0.1s;
    color: #eee;
}

.head:hover {
    color: white;
}

.item {
    display: flex;
    list-style-position: inside;
    padding: 1em;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container li {
    transition: all 0.1s;
}

.container li:nth-child(odd) {
    background: dimgray;
}

.container li:nth-child(odd):hover {
    background: #747474;
}

.container li:nth-child(even):hover {
    background-color: #888888;
}

.container li:nth-child(even) {
    background-color: gray;
}

.avatar {
    width: 2em;
    height: 2em;
}
