.window {
    position: absolute;
    left: 75%;
    transform: translate3d(-50%, -50%, 0);
    width: fit-content;
    top: 50%;
}

.container {
    padding: 1.2em;
    background: var(--back);
    border-radius: 1em;
    box-shadow: 0 2px 5px #777;
}

.container form {
    width: 100%;
    margin: 0;
}

.container form input {
    position: relative;
    margin: 0.3em 0;
    padding: 1em;
    font-size: 12pt;
}

.container form label {
    display: inline-block;
    width: 5em;
    margin: 0.75em 0.75em 0.75em 0;
    color: white;
    font-weight: bold;
}

.container div {
    display: inline;
    position: relative;
    width: 100%;
}

.container input {
    border-radius: 0.5em;
    border: none;
}

.container button {
    width: 50%;
    padding: 1em;
    background: #22e684;
    border: none !important;
    margin: 0.75em 0;
    font-weight: bold;
    border-radius: 0.5em;
    font-size: 12pt;
    color: white;
    transition: all 0.25s;
}

.login {
    border-radius: 0.5em 0 0 0.5em !important;
}

.register {
    border-radius: 0 0.5em 0.5em 0 !important;
}

.container button:hover {
    background: #43ec98;
}

.container form button {
    width: 100%;
    padding: 1em;
}

.error {
    color: white;
    background: #f84747;
    text-align: center;
    padding: 0.75em;
    margin-top: 0.75em;
    box-shadow: 0 2px 5px #777;
    border-radius: 0.75em;
    transition: all 0.25s;
}

.error:hover {
    background: #e65252;
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    20% {
        transform: translateX(5%);
    }
    40% {
        transform: translateX(-5%);
    }
    60% {
        transform: translateX(5%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0%);
    }    
}