.container {
  position: relative;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--back);
  width: 100%;
  align-items: center;
  padding: 0 1em;
}

.navbar a {
  padding: 0 1em;
  color: white;
  border-radius: 2em;
  padding: 0.75em 2.5em;
  height: 100%;
  transition: all 0.2s;
  margin-left: auto;
  margin-right: 1em;
}

.navbar a:hover {
  background: #5c5c5c;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  grid-row: 1;
}

.open p {
  display: inline-block;
  font-size: 10pt;
  margin-left: 0.75em;
  color: white;
}

.open {
  display: flex;
  align-items: center;
  right: 1em;
  transition: all 0.2s;
  padding: 0.1em 2.5em;
  border-radius: 2em;
  cursor: pointer;
}

.open:hover,
#options li:hover {
  background: #5c5c5c;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search {
  display: inline-block;
  padding: 0.5em 1em;
  align-items: center;
  width: 40vw;
}

#options {
  display: none;
  position: absolute;
  margin: 0;
  float: right;
  color: white;
  list-style: none;
  text-align: center;
  background: #222;
  padding: 0;
  right: 0;
  z-index: 1000;
}

#options a {
  position: relative;
  width: 100%;
  padding: 0.75em 4em;
}

#options li {
  width: 100%;
  padding: 0.75em 0;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
}

@keyframes open {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}