.body {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  overflow: hidden;
}

.profile {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.profile h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile h3 div {
  padding: 0.75em 0;
}

.emptycenter {
  top: 50%;
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
}

.emptycenter p {
  font-size: 150pt !important;
  animation: spin 120s infinite linear !important;
  padding: 2rem 0;
  margin: 5rem 0 !important;
}

.emptycenter button {
  width: 60%;
  padding: 1em;
  background: var(--primary);
  text-shadow: 0 0 2px dimgray;
  border: none !important;
  font-weight: bold;
  border-radius: 0.5em;
  font-size: 11pt;
  color: white;
  transition: all 0.25s;
  outline: none;
}

@keyframes spin {
  0% { transform: rotateZ(0); }
  100% { transform: rotateZ(360deg); }
}

.profile h2 {
  margin-bottom: 1em;
  font-size: 1.6em;
}

.profile hr {
  border: 2px solid #222;
  width: 100%;
}

.avatarcontainer {
  width: 15em;
  height: 15em;
  align-self: center;
  margin-top: 1em;
}

.profile h2 {
  position: relative;
  float: right;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.rivals,
.games {
  padding: 1em;
  width: fit-content;
  border-left: 1.5px solid #ddd;
  width: 100%;
  height: 100%;
  overflow: auto !important;
  text-align: center;
}

.games {
  background: #eff1f1;
}

.rivals {
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d7d7d7' fill-opacity='0.5'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.rivals > h3,
.games > h3 {
  margin: 0.5em  0 1em 0;
}
