.box {
    position: relative;
    display: flex;
    flex-direction: row;
    background: #555;
    padding: 1em;
    border-radius: 1em;
    transition: all 0.1s;
    cursor: pointer;
    margin: 0.5em 0;
    justify-content: space-between;
}

.name {
    display: flex;
}

.box * {
    align-self: center;
}

.avatar {
    margin-right: 2em;
    width: 2.5em;
    height: 2.5em;
}

.box div * {
    margin-left: 1em;
}

.box:hover {
    background: #777;
}

.link {
    color: white;
    font-weight: bold;
    font-size: 14pt;
    padding: 0.5rem;
    text-align: left;
}