.searchitem {
    display: flex;
    padding: 1em;
    background: lightgray;
    border-radius: 1em;
    margin-bottom: 1em;
    transition: all 0.2s;
    align-items: center;
}

.info {
    display: inline-block;
    margin-left: 1em;
}

.info h3 {
    font-weight: normal;
    display: inline;
}

.info p {
    color: gray;
    font-size: small;
    margin-bottom: 0;
}

.searchitem:hover {
    background: #DDD;
}

.searchitem:active {
    animation: clicked 0.15s;
}

.avatar {
    display: inline-block;
    height: 5em;
    width: 5em;
}

@keyframes clicked {
    0% { background: #DDD; }
    50% { background: #E5E5E5; }
    100% { background: #DDD; }
}