.searchbar {
    width: fit-content;
    min-width: 33%;
    padding: 0;
}

.searchbar form {
    display: flex;
    width: 100%;
}

.searchbar input, .searchbar button {
    font-weight: 475;
    outline: none;
    height: 100%;
    padding: 1.2em;
}

.searchbar input {
    width: 100%;
    border: none;
    background: #EEE;
    border-radius: 1em 0 0 1em;
}

.searchbar button {
    border: none;
    border-radius: 0 1em 1em 0;
    background: #DDD;
    transition: all 0.2s;
}

.searchbar button:hover {
    background: #EEE;
}

.searchbar *:focus {
  outline: none !important;
}
