.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background: var(--back);
    color: white;
    padding: 1em;
    border-radius: 1em;
    align-items: center;
    transition: all 0.1s;
}

.container:hover {
    background: var(--back-hover);
}

.avatar {
    margin-right: 1em;
    width: 2.5em;
    height: 2.5em;
}

.container div {
    display: flex;
    text-align: left;
    align-items: center;
}

.container div * {
    display: inline-block;
}

.timeago {
    font-style: italic;
    text-decoration: underline 2px #555;
    text-underline-offset: 0.4rem;
}